# Logs
logs
*.log
npm-debug.log*

# Node modules & build artifacts
node_modules
dist
dist-ssr
*.local
.vite
.vercel

# Environment files
.env
.env.local
.env.production.local
.env.development.local

# Editor directories
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
